* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    overflow-x: hidden;
}

.nav {
    width: 100%; 
    max-width: 1920px; 
    background-color: #ffffff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 15px 20px; 
}

.logo img {
    height: 45px; 
}

.navbar {
    display: flex;
    gap: 30px;
    align-items: center;
}

.chard i{
    font-size: 18px;
    color: #080808;
    cursor: pointer;
    transition: color 0.3s ease;
}

.chard i:hover {
    color: #229ed9;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.navbar ul li {
    font-size: 16px;
}

.navbar ul li a {
    align-items: center;
    font-size: 16px;
    text-decoration: none;
    color: #131313;   
    cursor: pointer;
}

#nav-txt{
   transition: color 0.3s ease;
}

#nav-txt:hover, #nav-txt:focus{
    color: #229ed9;
}

.search-div {
    justify-content: none;
    position: relative;
    align-items: center;
    display: flex;
    gap: 10px;
}

#search-icon{
    font-size: 16px;
    color: #333;
    background-color: #ffffff;
    border: 1px solid #333;
    border-radius: 15px;
    padding: 10px 10px 10px 15px;
}

#search{
    flex-wrap:nowrap;
    background-color: #ffffff;
    width: 500px;
    padding-left: 10px;
    font-size: 14px;
    color: #333;
    cursor: text;
    outline: none;
    border: none;
}

.buttons {
    display: flex;
    gap: 25px;
}

.buttons button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.buttons #login {
    border: 1px solid #0c0c0c;
    color: #030303;
    background-color: white;
}

.buttons #login:hover {
    background-color: #0c0c0c;
    color: #ffffff;
}

.buttons #signup {
    background-color: #0c0c0c;
    color: #ffffff;
    border: 1px solid #0c0c0c;
}

.buttons #signup:hover {
    background-color: #ffffff;
    color: #0c0c0c;
}

.container-main {
    width: 1340px; 
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 10px;
}

.hero { 
    justify-content: center;
    align-items: center; 
    text-align: center;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.text_landing {
    flex: 1;
    max-width: 500px; 
    margin-left: 5vw;
    text-align: left;
}

.text_landing h1 {
    text-transform: capitalize;
    font-size: 2.5rem;
    cursor: default;
}

.text_landing p {
    font-size: 1rem;
    margin-top: 10px;
    cursor: default;
}

.text_landing button {    
    margin-top: 30px;
    font-weight: 600;
    border: 2px solid rgba(39, 110, 182, 0.363);
    background: transparent;
    color: #229ed9;
    padding: 16px 24px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.5s, border 0.3s ease-in-out;
}

.text_landing button:hover {
    color: #fff;
    background-color: #229ed9;
    border: 2px solid rgba(39, 110, 182, 0.363);    
}

.illustra {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    z-index: -1;
}

.position_img {
    float: right;
    max-width: 85%; 
    height: auto;
    object-fit: contain;
    transform: scaleX(-1); 
}

.blue_nav {
    position: relative;
    background-color: #4693e6ea;
    width: 100%;
    height: 10vh; 
    display: flex;
    align-items: center;
    justify-content: center; 
}

.statistics {
    justify-content: space-around;
    display: flex;    
    background-color: #1E1E1E;
    padding: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stat {
    padding: 24px;
    border-radius: 8px;
    background-color: #232424;
    text-align: center;
    width: 250px;
}

.stat strong {
    display: block;
    font-size: 2rem ;
    color: #0FA958;
    margin-bottom: 5px;
    text-align: center;
    margin: 5px;
    letter-spacing: 2px;
}

.stat p{
    display: block;
    font-size: 1rem;
    font-weight: 500;
    color: #ffff;
}

.stat .star{
    justify-content: center;
    display: flex;
    gap: 5px;
}

.course-categories {
    text-align: center;
    padding: 40px 20px;
}

.course-categories h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.categories span {
    padding: 8px 16px;
    background: #f1f1f1;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.categories #fd{
    background: #3396fff6;
    color: #fff;
}

.categories span:hover {
    background: #3396fff6;
    color: #fff;
}

footer {
    background-color: #1a1a1a;
    color: #fff;
}

footer a {
    color: #fff;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #00c8ff;
}

.footer-container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.footer-items {
    flex-wrap: wrap; 
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start; 
    margin: 0 30px 30px 30px; 
    padding: 10px; 
}

.item {
    flex: 1 1 20%;
    margin: 10px;
    min-width: 200px;
}

.item h3 {
    font-size: 18px;
    margin: 18px 0 10px;
    color: #ffffff;
}

.item ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item ul li {
    margin-bottom: 8px;
}

.item ul li a {
    font-size: 14px;
}

.contact-item {
    margin-bottom: 8px;
    font-size: 14px;
}

.contact-item a {
    color: #00c8ff;
}

.contact-item a:hover {
    color: #fff;
}

.contact-item.social-media h3 {
    font-size: 16px;
    margin-bottom: 8px;
}

.contact-item.social-media .social-links, .fa-brands{
    color: #fff;
    font-size: 24px;
    display: flex;
    gap: 10px;
}

.contact-item.social-media a {
    position: relative;
    text-align: center;
    font-size: 14px;
    margin: 0 5px;
}

.footer-logo {
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-top: 1px solid #333;
    padding: 10px 0;
}

.footer-logo img {
    max-width: 150px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.footer-logo p {
    font-size: 14px;
    color: #bbb;
    margin-top: 5px;
    margin-right: 30px;
}
