*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #4CAF50;
    --secondary-color: #f3f4f6;
    --text-color: #333;
    --font-color: #fff;
    --bg-color: #fff;
    --border-radius: 8px;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --font-family: 'Arial', sans-serif;
}
body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--secondary-color);
    color: var(--text-color);
    display: flex;
    height: 100vh;
}


.sidebar {
    width: 250px;
    background-color: var(--primary-color);
    color: var(--bg-color);
    padding: 20px;
    box-shadow: var(--box-shadow);
    z-index: auto;
}

.sidebar h2 {
    margin: 0 0 20px;
    font-size: 24px;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--font-color);
}

.sidebar ul li:hover {
    background-color: #3e8e41;
    border-radius: var(--border-radius);
}

.sidebar ul li i {
    margin-right: 10px;
    color: var(--font-color);
}

header {
    background-color: var(--bg-color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 250px);
    position: fixed;
    left: 250px;
    top: 0;
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

header .head h1 {
    margin: 0;
    font-size: 20px;
}

header .account {
    display: flex;
    align-items: center;
}

header .account div {
    margin-left: 20px;
    position: relative;
}

header .account a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
}

header .account .tooltip {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: var(--border-radius);
    font-size: 12px;
    display: none;
}

header .account div:hover .tooltip {
    display: block;
}

/* Main Content */
main {
    margin-top: 60px;
    padding: 20px;
    margin-left: 250px;
}

.content-placeholder .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.stat-card {
    flex: 1;
    min-width: 200px;
    padding: 20px;
    color: #fff;
    text-align: center;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.bg-primary {
    background-color: #007bff;
}

.bg-success {
    background-color: #28a745;
}

.bg-warning {
    background-color: #ffc107;
}

.bg-danger {
    background-color: #dc3545;
}
