*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #229ed9;
    --secondary-color: #1E1E1E;
    --accent-color: #0FA958;
    --text-color: #333;
    --background-light: #f9f9f9;
    --background-dark: #232424;
    --button-hover: #3396fff6;
    --font-large: 2.5rem;
    --font-medium: 1.5rem;
    --font-small: 1rem;
    --spacing-small: 10px;
    --spacing-medium: 20px;
    --spacing-large: 30px;
    --font-color:#fff;
    --font-large: 36px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-light);
    color: var(--text-color);
}

.container-main {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--spacing-medium);
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: var(--spacing-medium);
}

.text_landing {
    flex: 1;
    max-width: 500px;
    margin: 0 var(--spacing-medium);
    text-align: left;
}

.text_landing h1 {
    font-size: var(--font-large);
    color: var(--primary-color);
    text-transform: capitalize;
    cursor: default;
}

.text_landing p {
    font-size: var(--font-small);
    margin-top: var(--spacing-small);
}

.text_landing button {
    margin-top: var(--spacing-large);
    font-weight: 600;
    border: 2px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
    padding: 16px 24px;
    cursor: pointer;
    transition: background 0.5s, border 0.3s ease-in-out;
}

.text_landing button:hover {
    color: var(--font-color);
    background-color: var(--primary-color);
}

.illustra img {
    max-width: 85%;
    height: auto;
    object-fit: contain;
    transform: scaleX(-1);
}

.statistics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--secondary-color);
    padding: var(--spacing-large);
    gap: var(--spacing-medium);
}

.stat {
    padding: var(--spacing-medium);
    border-radius: 8px;
    background-color: var(--background-dark);
    text-align: center;
    width: 30%;
    max-width: 400px;
}



.stat strong {
    color: var(--accent-color);
    margin-bottom: var(--spacing-small);
    font-size: var(--font-medium);
}

.stat p{
    color: var(--font-color);
}

.course-categories h2 {
    font-size: var(--font-large);
    text-align: center;
    padding-top: 50px;
    margin: var(--spacing-medium);
}

.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--spacing-small);
}

.categories span {
    padding: var(--spacing-small) var(--spacing-medium);
    background: var(--background-light);
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.categories span:hover {
    background: var(--button-hover);
    color: #fff;
}

.course-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing-medium);
    padding: var(--spacing-medium);
    background-color: var(--background-light);
}

.course-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.course-info h3 {
    font-size: var(--font-medium);
    color: var(--text-color);
}

.course-info p {
    font-size: var(--font-small);
    color: var(--text-color);
}

.course-info button {
    background-color: var(--primary-color);
    color: #fff;
    padding: var(--spacing-small) var(--spacing-medium);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.course-info button:hover {
    background-color: var(--button-hover);
}

.team-chart {
    margin: 100px 0;
    text-align: center;
    padding: 30px 20px;
}

.team-chart h1 {
    font-size: 2.5em;
    margin-bottom: 70px;
    color: #444;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.team-member {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    padding: 20px;
    text-align: center;
}

.team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ddd;
}


.team-member h2 {
    font-size: 1.2em;
    color: #222;
}

.team-member p {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 5px;
}


@media (max-width: 768px) {
    .hero, .statistics, .course-cards {
        flex-direction: column;
        align-items: center;
    }

    .text_landing {
        margin: var(--spacing-small) 0;
        text-align: center;
    }

    .statistics .stat  {
        width: 100%;
    }

    .stat .star img{
        width: var(--font-small);
    }
}
